<%
  comparisons = []
  historic_captures.each{|hcap| hcap.captures.each{|cap| comparisons.push([hcap, cap])}}
%>
<% if comparisons.present? %>
<ul class='thumbnails'>
  <%= render partial: 'comparisons/comparison', collection: comparisons %>
</ul>
<% else %>
<p>No comparisons</p>
<% end %>
