<%= content_tag :li, class: 'thumbnail_container historic_capture_row clearfix', id: "historic_capture_row_#{historic_capture.id}", title: historic_capture.display_name do -%>
      <%= content_tag :div, class: "thumbnail_img_container #{'not_mastered' if admin_app? && hcap_not_mastered?(historic_capture)}" do %>
          <%= link_to(image_tag(historic_capture.preview_image.thumb.url, alt: historic_capture.display_name, id: "HistoricCapture_#{historic_capture.id}_row", class: "thumbnail_img" ), historic_capture_path(historic_capture.id))  %>
      <% end %>
	<div class='thumbnail_caption_container'><%= link_to historic_capture.display_name, historic_capture_path(historic_capture.id)%></div>
<% end -%>
