<%= render 'show_view_header' %>
<div class='data-pane-body historic_capture_well' id='<%= "HistoricCapture_#{@historic_capture.id}_show" %>' >
	<%= breadcrumb_div(@historic_capture, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<h3><span class="icomoon-camera" title="Historic Capture"></span> <%= @historic_capture.display_name %></h3>
	<% if @historic_capture.preview_image.present? %>
		<% unless admin_app? %>
			<%= link_to_s3_download(@historic_capture.preview_image, @historic_capture.display_name, "<span class='icomoon-box-add submenu_icon' title='Download'></span> Download Print Ready Version", id: "download_print_ready") %>
			<%= link_to "<span class='icomoon-eye submenu_icon' title='View'></span> View Print Ready Version".html_safe ,@historic_capture.preview_image.url, id: "view_print_ready" %>
			<%= render 'static_pages/license' %>
		<% end %>
	<div class='row-fluid'>
		<% if admin_app? %>
		<div>Preview:</div>
		<% end %>
		<div class='span1' id='prev_container'><%= link_to "<span class='icomoon-caret-left' title='Previous Historic Capture'></span>".html_safe, historic_capture_path(@prev), id: "prev_link" if @prev %></div>
		<div class='span10' id="preview_image">
			<%= image_tag(@historic_capture.preview_image.medium.url, alt: "Preview image") %>
		</div>
		<div class='span1' id='next_container'><%= link_to "<span class='icomoon-caret-right' title='Next Historic Capture'></span>".html_safe, historic_capture_path(@next), id: "next_link" if @next %></div>
	</div>
	<% end %>
	<% if @historic_capture.comparisons.present? %>
		<div class='comparisons_well'>
			<h5><span class='icomoon-images'></span> Comparisons</h5>
			<%= render 'captures/captures_grid', captures: @historic_capture.comparisons.includes(:capture_images) %>
			<div class='comparison_buttons'>
				<% if @historic_capture.has_viewable_comparisons? %>
					<div><%= link_to("Comparison View", "/historic_captures/#{@historic_capture.id}/comparisons", class: admin_app? ? 'btn' : 'explorer_btn') %></div>
				<% end %>
				<% if admin_app? && @historic_capture.has_aligned_comparisons? %>
					<div><%= link_to("Overlay View", "/historic_captures/#{@historic_capture.id}/overlays", class: "btn") %></div>
				<% end %>
			</div>
		</div>
	<% end %>
	<dl class='dl-horizontal'>
		<% if admin_app? %>
			<dt><%= HistoricCapture.human_attribute_name(:fn_photo_reference)%>:</dt><dd id='fn_photo_reference_value'><%= show_value(@historic_capture.fn_photo_reference) %></dd>
			<dt><%= HistoricCapture.human_attribute_name(:digitization_location)%>:</dt><dd id='digitization_location_value'><%= show_value(@historic_capture.digitization_location) %></dd>
			<dt><%= HistoricCapture.human_attribute_name(:digitization_datetime)%>:</dt><dd id='digitization_datetime_value'><%= show_value(@historic_capture.digitization_datetime) %></dd>
			<dt><%= HistoricCapture.human_attribute_name(:comments)%>:</dt><dd id='comments_value'><%= show_value(@historic_capture.comments) %></dd>
			<% if @historic_capture.camera.blank? && @historic_capture.lens.blank? && @historic_capture.focal_length.blank? && @historic_capture.f_stop.blank? && @historic_capture.shutter_speed.blank? %>
				<dt>Camera Information:</dt><dd id='camera_info_value'>N/A</dd>
			<% else %>
				<h4>Camera Information</h4>
				<dt>Camera:</dt><dd id='camera_value'><%= show_value(@historic_capture.try(:camera).try(:display_name))  %></dd>
				<dt>Lens:</dt><dd id='lens_value'><%= show_value(@historic_capture.try(:lens).try(:display_name)) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:focal_length)%>:</dt><dd id='focal_length_value'><%= show_value(@historic_capture.focal_length.to_s,"mm") %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:f_stop)%>:</dt><dd id='f_stop_value'><%= show_value(@historic_capture.f_stop.to_s,"f/",prepend: true) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:shutter_speed)%>:</dt><dd id='shutter_speed_value'><%= show_value(@historic_capture.shutter_speed.to_s, "sec") %></dd>
			<% end %>
			<% if @historic_capture.lac_ecopy.blank? && @historic_capture.lac_wo.blank? && @historic_capture.lac_collection.blank? && @historic_capture.lac_box.blank? && @historic_capture.lac_catalogue.blank? %>
				<dt>LAC Information:</dt><dd id='lac_info_value'>N/A</dd>
			<% else %>
				<h4>Library Archives Canada (LAC) Information</h4>
				<dt><%= HistoricCapture.human_attribute_name(:lac_ecopy)%>:</dt><dd id='lac_ecopy_value'><%= show_value(@historic_capture.lac_ecopy) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:lac_wo)%>:</dt><dd id='lac_wo_value' ><%= show_value(@historic_capture.lac_wo) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:lac_collection)%>:</dt><dd id='lac_collection_value'><%= show_value(@historic_capture.lac_collection) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:lac_box)%>:</dt><dd id='lac_box_value'><%= show_value(@historic_capture.lac_box) %></dd>
				<dt><%= HistoricCapture.human_attribute_name(:lac_catalogue)%>:</dt><dd id='lac_catalogue_value'><%= show_value(@historic_capture.lac_catalogue) %></dd>
			<% end %>
		<% end %>
	</dl>
	<% if admin_app? %>
		<%= render 'capture_images/capture_images_table', capture: @historic_capture%>
	<% end %>
</div>
