<%= render 'show_view_header' %>

<div class='data-pane-body'>
  <%= breadcrumb_div(@station, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
    <div id='station_panel'>
      <%= render 'historic_captures/historic_captures_grid', historic_captures: @historic_captures %>
      <dl class='dl-horizontal'>
       <dt><%= Station.human_attribute_name(:name) %>:</dt><dd> <%= show_value @station.name  %></dd>
       <%= render 'shared/lat_long_show', coord_obj: @station %>
     </dl>
    </div>
     <%= tabs('stations/tabs', collection: @visits, station: @station, tag_classes: { nav_tabs: "nav-tabs-styled1", tab_content: "tab-content-styled1"}) %>
</div>
