<li class='thumbnail_comparison_container'>
  <%= link_to("/#{comparison[0].class.name.tableize}/#{comparison[0].id}/comparisons") do %>
  <ul class='thumbnails'>
    <li class='thumbnail_container'>
        <div class='thumbnail_img_container'>
          <%= image_tag(comparison[0].preview_image.thumb.url, alt: comparison[0].display_name, class: 'thumbnail_img')  %>
        </div>
        <div class='thumbnail_caption_container'><%= comparison[0].display_name %></div>
    </li>
     <li class='thumbnail_container'>
        <div class='thumbnail_img_container'>
          <%= image_tag(comparison[1].preview_image.thumb.url, alt: comparison[1].display_name, class: 'thumbnail_img')  %>
        </div>
          <div class='thumbnail_caption_container'><%= comparison[1].display_name %></div>
      </li>
  </ul>
  <% end %>
</li>

