<%= content_tag :li, class: 'location_image_row thumbnail_container clearfix', id: "location_image_row_#{location_image.id}", title: location_image.display_name do -%>
	<%= content_tag :div, :class => "location_image_column thumbnail_img_container" do -%>
		<% if !location_image.image.nil? && location_image.file_present? %>
			<%= link_to(image_tag(location_image.image.thumb.url, alt: location_image.display_name, class: 'thumbnail_img', id: "LocationImage_#{location_image.id}" ), location_image_path(location_image.id))  %>
			<%=
			if (only_unsorted_are_moveable==true && location_image.image_owner_type!='Location') || only_unsorted_are_moveable==false
				content_tag :div, class: "drag_column" do
				  image_tag("move.png", alt: "drag-handle", title: "Drag to navigation tree to move the image", id: "LocationImage_#{location_image.id}_handle")
				end
			end
			 %>
		<% end %>
	<% end -%>
	<div class='thumbnail_caption_container'>
		<%= link_to location_image.display_name, location_image_path(location_image.id) %>
	</div>
<% end -%>
