<% only_unsorted_are_moveable = true if local_assigns[:only_unsorted_are_moveable].nil? %>
<% if location_images.empty? %>
	<p>There are no location images associated with this object</p>
<% else %>
	<ul class='thumbnails'>
	<%= render location_images, only_unsorted_are_moveable: only_unsorted_are_moveable  %>
	</ul>
<% end %>
