<%= render 'show_view_header' %>
<div class='data-pane-body'>
	<%= breadcrumb_div(@location_image, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<% unless @location_image.file_present? %>
	<div class='alert alert-error long-path-container'>
		<h4>Image missing!</h4>
		<p>Looks like the file for this image is missing. This might happen if:
			<ul> <li>The file was moved/deleted/renamed with an external application (like Finder)</li>
				<li>You forgot to connect to the server</li>
			</ul>
		</p>

		<p>As a reminder, you should <strong>never</strong> move/delete/rename files with an application other than this one.</p>
		<p>If possible, locate <%= @location_image.image.file.filename %> and move it back to <%= @location_image.image.store_dir %></p>
		<p>(PS: If you see an image below, that doesn't mean the image exists. It's a preview of the full version)</p>
	</div>
	<% end %>
	<div class='row-fluid'>
		<div class='span12'>
			<%= image_tag(@location_image.image.medium.url, alt: @location_image.display_name) %>
		</div>
	</div>
	<dl class='dl-horizontal'>
		<dt><%= LocationImage.human_attribute_name(:file_name) %>:</dt><dd><%= @location_image.display_name%></dd>
		<dt><%= LocationImage.human_attribute_name(:file_size) %>:</dt><dd><%= show_value(number_to_human_size(@location_image.file_size))%></dd>
		<dt><%= LocationImage.human_attribute_name(:x_dim) %>:</dt><dd><%= show_value(@location_image.x_dim," px") %></dd>
		<dt><%= LocationImage.human_attribute_name(:y_dim) %>:</dt><dd><%= show_value(@location_image.y_dim," px") %></dd>
		<dt><%= LocationImage.human_attribute_name(:bit_depth) %>:</dt><dd><%= show_value(@location_image.bit_depth," bit") %></dd>
		<dt>Camera:</dt><dd id='camera_value'><%= show_value(@location_image.try(:camera).try(:display_name)) %></dd>
		<dt>Lens:</dt><dd id='lens_value'><%= show_value(@location_image.try(:lens).try(:display_name)) %></dd>
		<dt><%= LocationImage.human_attribute_name(:focal_length)%>:</dt><dd id='focal_length_value'><%= show_value(@location_image.focal_length.to_s,'mm') %></dd>
		<dt><%= LocationImage.human_attribute_name(:f_stop)%>:</dt><dd id='f_stop_value'><%= show_value(@location_image.f_stop,"f/",prepend: true) %></dd>
		<dt><%= LocationImage.human_attribute_name(:shutter_speed)%>:</dt><dd id='shutter_speed_value'><%= show_value(@location_image.shutter_speed.to_s,'sec') %></dd>
		<dt><%= LocationImage.human_attribute_name(:iso)%>:</dt><dd id='iso_value'><%= show_value(@location_image.iso.to_s) %></dd>
		<dt><%= LocationImage.human_attribute_name(:capture_datetime)%>:</dt><dd id='capture_datetime_value'><%= show_value(@location_image.capture_datetime) %></dd>
	</dl>
</div>
