<div id='search-results'>
  <p><strong>Search Results For "<%= session[:query] %>"</strong></p>
    <p><em><%= search.try(:length) or "0" %> items found...</em></p>
    <ul class='nav nav-tabs nav-stacked'>
    <% search.each do |item| %>
      <li><%= link_to item.searchable do %>
                <div class='searchable_type'><%= item.searchable_type.titleize %></div>
                <div class='searchable_display_name'><%= item.searchable.display_name %></div>
                <div class='searchable_content'><%= highlight(truncate(item.content, length: 100), session[:query].split(" "))  %></div>
            <% end %>
      </li>
    <% end %>
    </ul>
</div>
