<%= render 'historic_visits/show_view_header' %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@historic_visit, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
  <%= render 'historic_captures/historic_captures_grid', historic_captures: @historic_visit.historic_captures.includes(:capture_images) %>
    <dl class='dl-horizontal'>
	<dt>Date:</dt><dd><%= show_value(@historic_visit.date) %></dd>
	<dt>Comments:</dt><dd><%= show_value(@historic_visit.comments) %></dd>
    </dl>
  <%= tabs('historic_visits/tabs', historic_visit: @historic_visit) %>
</div>
