<% visit.locations.each do |location| %>
  <% if location.captures.present? %>
    <div class='nested_location_block'>
      <p><strong>
        <%= link_to("<span class='icomoon-location' title='Station Sub-location'></span> Location: #{location.location_identity}".html_safe, \
         location_path(location)) %>
       </strong></p>
      <%= render 'captures/captures_grid', captures: location.captures.includes(:capture_images) %>
    </div>
  <% end %>
<% end %>
<% if visit.unsorted_captures.present? %>
  <div class='nested_location_block'>
    <p><strong>Captures Without Location</strong></p>
    <%= render 'captures/captures_grid', captures: visit.unsorted_captures.includes(:capture_images) %>
  </div>
<% end %>
