<%= render 'visits/captures_block', visit: visit %>
<% if params[:controller]=='visits'
        nav_tabs_class = "nav-tabs-styled1"
        tab_content_class = 'tab-content-styled1'
      else
        nav_tabs_class = "nav-tabs-styled2"
        tab_content_class = 'tab-content-styled2'
      end
      %>
<%= tabs("visits/tabs", visit: visit, tag_classes: { nav_tabs: nav_tabs_class, tab_content: tab_content_class}) %>
