<dl class='dl-horizontal'>
  <dt><%= Visit.human_attribute_name(:date) %>:</dt>
  <dd><%= show_value  visit.date  %></dd>
  <dt><%= Visit.human_attribute_name(:start_time) %>:</dt>
  <dd><%= show_value  visit.start_time  %></dd>
  <dt><%= Visit.human_attribute_name(:finish_time) %>:</dt>
  <dd><%= show_value  visit.finish_time  %></dd>
  <% if admin_app? %>
    <dt><%= Visit.human_attribute_name(:pilot) %>:</dt>
    <dd><%= show_value  visit.pilot  %></dd>
    <dt><%= Visit.human_attribute_name(:rw_call_sign) %>:</dt>
    <dd><%= show_value  visit.rw_call_sign  %></dd>
    <dt><%= Visit.human_attribute_name(:illustration) %>:</dt>
    <dd><%= show_value  visit.illustration  %></dd>
  <% end %>
  <dt><%= Visit.human_attribute_name(:visit_narrative) %>:</dt>
  <dd><%= show_value  visit.visit_narrative  %></dd>
  <dt><%= Visit.human_attribute_name(:weather_narrative) %>:</dt>
  <dd><%= show_value  visit.weather_narrative  %></dd>
  <dt><%= Visit.human_attribute_name(:weather_temp) %>:</dt>
  <dd><%= show_value(visit.weather_temp, "&deg;C").html_safe %></dd>
  <dt><%= Visit.human_attribute_name(:weather_wb) %>:</dt>
  <dd><%= show_value(visit.weather_wb, "&deg;C").html_safe %></dd>
  <dt><%= Visit.human_attribute_name(:weather_ws) %>:</dt>
  <dd><%= show_value(visit.weather_ws, " km/h") %></dd>
  <dt><%= Visit.human_attribute_name(:weather_gs) %>:</dt>
  <dd><%= show_value(visit.weather_gs, " km/h") %></dd>
  <dt><%= Visit.human_attribute_name(:weather_rh) %>:</dt>
  <dd><%= show_value(visit.weather_rh, "%") %></dd>
  <dt><%= Visit.human_attribute_name(:weather_pressure) %>:</dt>
  <dd><%= show_value(visit.weather_pressure, " hPa") %></dd>
  <dt>Photographers</dt>
  <%= dd_tag(visit.photographers) {|photog| photog.full_name } %>
  <dt>Field Note Authors:</dt>
  <%= dd_tag(visit.fn_authors) { |fn_author| fn_author.full_name} %>
  <dt>Hiking Party:</dt>
  <%= dd_tag(visit.hiking_party_participants) {|hiker| hiker.full_name} %>
  <dt>Keywords:</dt>
  <%= dd_tag(visit.keywords.order(:keyword), comma_separated: true) {|keyword| keyword.display_name } %>
  <% if admin_app? %>
    <%= render 'field_notes/field_note_files_dl_items', visit: visit %>
    <dt><%= Visit.human_attribute_name(:fn_physical_location) %>:</dt>
    <dd><%= show_value visit.fn_physical_location %></dd>
    <dt><%= Visit.human_attribute_name(:fn_transcription_comment) %>:</dt>
    <dd><%= show_value visit.fn_transcription_comment %></dd>
  <% end %>
</dl>
