<%= render 'show_view_header' %>

<div class='data-pane-body'>
	<%= breadcrumb_div(@visit, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<%= render 'content', visit: @visit %>
</div>

