
<%
content_for "#{tab_name}_title" do
  "Field Notes"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-quill tabs_icon pull-left' title='Field Notes'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "visit_notes_tab_#{visit.id}"
end
content_for "#{tab_name}_pane" do
  render 'visits/notes', visit: visit
end
%>



