
<%
content_for "#{tab_name}_title" do
  "Comparisons"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-images tabs_icon pull-left' title='Comparisons'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "visit_comparisons_tab_#{visit.id}"
end
content_for "#{tab_name}_pane" do
  render 'captures/comparisons_grid', captures: visit.captures
end
%>

