
<%
content_for "#{tab_name}_title" do
  "Comparisons"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-images tabs_icon pull-left' title='Comparisons'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "historic_visit_comparisons_tab_#{historic_visit.id}"
end
content_for "#{tab_name}_pane" do
  render 'historic_captures/comparisons_grid', historic_captures: historic_visit.historic_captures
end
%>

