<%= content_tag :li, class: "capture_row thumbnail_container clearfix", id: "capture_row_#{capture.id}", title: capture.display_name do -%>
      <%= content_tag :div, class: "thumbnail_img_container #{'not_mastered' if admin_app? && cap_not_mastered?(capture)}" do %>
      	   <%= link_to(image_tag(capture.preview_image.thumb.url, alt: capture.display_name, id: "Capture_#{capture.id}_row", class: "thumbnail_img" ), capture_path(capture.id))  %>
      <% end %>
      <div class='thumbnail_caption_container'><%= link_to capture.display_name, capture_path(capture.id)%></div>
<% end -%>
