<%
  comparisons = []
  captures.each{|cap| cap.historic_captures.each{|hcap| comparisons.push([cap, hcap])}}
%>
<% if comparisons.present? %>
<ul class='thumbnails'>
  <%= render partial: 'comparisons/comparison', collection: comparisons %>
</ul>
<% else %>
<p>No comparisons</p>
<% end %>
