<%= render 'show_view_header' %>

<div class='data-pane-body capture_well' id='<%= "Capture_#{@capture.id}_show" %>' >
	<%= breadcrumb_div(@capture, separator: "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<h3><span class="icomoon-camera" title="Capture"></span> <%= @capture.display_name %></h3>
	<% if @capture.preview_image.present? %>
		<% unless admin_app? %>
			<%= link_to_s3_download(@capture.preview_image, @capture.display_name, "<span class='icomoon-box-add submenu_icon' title='Download'></span> Download Print Ready Version") %>
			<%= link_to "<span class='icomoon-eye submenu_icon' title='View'></span> View Print Ready Version".html_safe ,@capture.preview_image.url, id: "view_print_ready" %>
			<%= render 'static_pages/license' %>
		<% end %>
	<div class='row-fluid'>
		<% if admin_app? %>
			<div>Preview:</div>
		<% end %>
		<div class='span1' id='prev_container'><%= link_to "<span class='icomoon-caret-left' title='Previous Capture'></span>".html_safe, capture_path(@prev), id: "prev_link" if @prev %></div>
		<div class='span10' id="preview_image">
			<%= image_tag(@capture.preview_image.medium.url, alt: "Preview image") %>
		</div>
		<div class='span1' id='next_container'><%= link_to "<span class='icomoon-caret-right' title='Next Capture'></span>".html_safe, capture_path(@next), id: "next_link" if @next %></div>
	</div>
	<% end %>
	<% if @capture.comparisons.present? %>
		<div class='comparisons_well'>
			<h5><span class='icomoon-images'></span> Comparisons</h5>
			<%= render 'historic_captures/historic_captures_grid', historic_captures: @capture.comparisons %>
			<div class='comparison_buttons'>
				<% if @capture.has_viewable_comparisons? %>
					<div><%= link_to("Comparison View", "/captures/#{@capture.id}/comparisons", class: admin_app? ? 'btn' : 'explorer_btn') %></div>
				<% end %>
				<% if admin_app? && @capture.has_aligned_comparisons? %>
					<div><%= link_to("Overlay View", "/captures/#{@capture.id}/overlays", class: "btn") %></div>
				<% end %>
			</div>
		</div>
	<% end %>
	<dl class='dl-horizontal' id='capture_fields'>
		<% if admin_app? %>
			<dt><%= Capture.human_attribute_name(:fn_photo_reference)%>:</dt><dd id='fn_photo_reference_value'><%= show_value(@capture.fn_photo_reference) %></dd>
			<dt><%= Capture.human_attribute_name(:alternate)%>:</dt><dd id='alternate_value'><%= show_value(@capture.alternate) %></dd>
		<% end %>
		<dt><%= Capture.human_attribute_name(:azimuth)%>:</dt><dd id='azimuth_value'><%= show_value(@capture.azimuth.to_s,"&deg;").html_safe %></dd>
		<%= render 'shared/lat_long_show', coord_obj: @capture %>
		<dt>Camera:</dt><dd id='camera_value'><%= show_value(@capture.try(:camera).try(:display_name)) %></dd>
		<dt>Lens:</dt><dd id='lens_value'><%= show_value(@capture.try(:lens).try(:display_name)) %></dd>
		<dt><%= Capture.human_attribute_name(:focal_length)%>:</dt><dd id='focal_length_value'><%= show_value(@capture.focal_length.to_s,'mm') %></dd>
		<dt><%= Capture.human_attribute_name(:f_stop)%>:</dt><dd id='f_stop_value'><%= show_value(@capture.f_stop,"f/",prepend: true) %></dd>
		<dt><%= Capture.human_attribute_name(:shutter_speed)%>:</dt><dd id='shutter_speed_value'><%= show_value(@capture.shutter_speed.to_s,'sec') %></dd>
		<dt><%= Capture.human_attribute_name(:iso)%>:</dt><dd id='iso_value'><%= show_value(@capture.iso.to_s) %></dd>
		<dt><%= Capture.human_attribute_name(:capture_datetime)%>:</dt><dd id='capture_datetime_value'><%= show_value(@capture.capture_datetime) %></dd>
		<% if admin_app? %>
			<dt>Comments:</dt><dd id='comments_value'><%= show_value(@capture.comments) %></dd>
		<% end %>
	</dl>
	<% if admin_app? %>
		<%= render 'capture_images/capture_images_table', capture: @capture%>
	<% end %>
</div>
