<h5>Glass Plate Listings</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Container</th>
      <th>Plates</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <% @survey_season.glass_plate_listings.each do |g| %>
    <tr>
      <td> <%= show_value g.container  %></td>
      <td><%= show_value g.plates  %></td>
      <td><%= show_value g.notes  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
