<h5>Maps</h5>
<% if @survey_season.maps.size > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>NTS Map</th>
      <th>Historic Map</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
  <% @survey_season.maps.each do |map| %>
    <tr>
      <td><%= show_value map.nts_map  %></td>
      <td><%= show_value map.historic_map  %></td>
      <td><%= show_value map.links  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p>No Maps </p>
<% end %>