<%= render 'show_view_header' %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@survey_season, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<dl class='dl-horizontal'>
		<dt><%= SurveySeason.human_attribute_name(:year) %>:</dt><dd>  <%= show_value @survey_season.year.to_s  %></dd>
		<dt><%= SurveySeason.human_attribute_name(:geographic_coverage) %>:</dt><dd>  <%= show_value @survey_season.geographic_coverage  %></dd>
	</dl>
  <h4>Archival Information</h4>
  <dl class='dl-horizontal'>
    <dt><%= SurveySeason.human_attribute_name(:jurisdiction) %>:</dt><dd> <%= show_value @survey_season.jurisdiction  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:affiliation) %>:</dt><dd> <%= show_value @survey_season.affiliation  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:archive) %>:</dt><dd> <%= show_value @survey_season.archive  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:collection) %>:</dt><dd> <%= show_value @survey_season.collection  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:location) %>:</dt><dd> <%= show_value @survey_season.location  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:sources) %>:</dt><dd> <%= show_value @survey_season.sources  %></dd>
    <dt><%= SurveySeason.human_attribute_name(:notes) %>:</dt><dd> <%= show_value @survey_season.notes  %></dd>
  </dl>
  <%= render 'glass_plate_listings' %>
  <%= render 'maps' %>
</div>
