<% if capture.capture_images.empty? %>
	<p>There are no capture images associated with this capture</p>
<% else %>
	<h4 id='capture_images_header'><span class='icomoon-image'></span> Capture Images</h4>
	<table class='table table-striped' id='capture_images_table'>
	<tr class='column_header'>
		<th class='drag_column'></th>
		<th class='image_column'>Image</th>
		<th class='image_state_column'>Image State</th>
		<th class='xdim_column'>Width</th>
		<th class='ydim_column'>Height</th>
		<th class='file_size_column'>File Size</th>
		<th class='remote_column'>Remote?</th>
	</tr>
	<%= render capture.capture_images %>
	</table>
<% end %>
