<%= content_tag :tr, class: 'capture_image_row', id: "capture_image_row_#{capture_image.id}" do -%>
	<%= content_tag :td, class: "drag_column" do -%>
		<%= image_tag("move.png", alt: "drag-handle", title: "Drag to navigation tree to move the image", id: "CaptureImage_#{capture_image.id}_handle") %>
	<% end -%>
	<%= content_tag :td, :class => "capture_image_column" do -%>
		<% if !capture_image.image.nil? && capture_image.file_present? %>
			<%= link_to(image_tag(capture_image.image.thumb.url, alt: capture_image.display_name, id: "CaptureImage_#{capture_image.id}" ), capture_image_path(capture_image.id))  %>
			<div><%= link_to capture_image.display_name, capture_image_path(capture_image.id) %></div>
		<% else %>
			<%= link_to capture_image.display_name, capture_image_path(capture_image.id)%>
		<% end %>
	<% end -%>
	<td class='image_column'><%= capture_image.image_state %></td>
	<td class='image_state_column'><%= capture_image.x_dim %></td>
	<td class='xdim_column'><%= capture_image.y_dim %></td>
	<td class='ydim_column'><%= number_to_human_size(capture_image.file_size) if !capture_image.file_size.nil? %></td>
	<td class='remote_column'><%= !capture_image.image_remote.blank? %></td>
<% end -%>
