<%= render 'show_view_header' %>

<div class="data-pane-body">
	<%= breadcrumb_div(@capture_image, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<% unless @capture_image.file_present? %>
	<div class='alert alert-error long-path-container'>
		<h4>Image missing!</h4>
		<p>Looks like the file for this image is missing. This might happen if:
		<ul> <li>The file was moved/deleted/renamed with an external application (like Finder)</li>
			 <li>You forgot to connect to the server</li>
		</ul>
		</p>

		<p>As a reminder, you should <strong>never</strong> move/delete/rename files with an application other than this one.</p>
		<p>If possible, locate <%= @capture_image.image.file.filename %> and move it back to <%= @capture_image.image.store_dir %></p>
		<p>(PS: If you see an image below, that doesn't mean the image exists. It's a preview of the full version)</p>
	</div>
	<% end %>
	<div class='row-fluid'>
		<div class='span12'>
		<%= image_tag(@capture_image.image.medium.url, alt: @capture_image.display_name) %>
		</div>
	</div>

	<dl class='dl-horizontal'>
		<dt><%= CaptureImage.human_attribute_name(:file_name) %>:</dt><dd><%= @capture_image.display_name%></dd>
		<dt><%= CaptureImage.human_attribute_name(:image_state) %>:</dt><dd><%= show_value(@capture_image.image_state)%></dd>
		<dt><%= CaptureImage.human_attribute_name(:file_size) %>:</dt><dd><%= show_value(number_to_human_size(@capture_image.file_size))%></dd>
		<dt><%= CaptureImage.human_attribute_name(:x_dim) %>:</dt><dd><%= show_value(@capture_image.x_dim," px") %></dd>
		<dt><%= CaptureImage.human_attribute_name(:y_dim) %>:</dt><dd><%= show_value(@capture_image.y_dim," px") %></dd>
		<dt><%= CaptureImage.human_attribute_name(:bit_depth) %>:</dt><dd><%= show_value(@capture_image.bit_depth," bit") %></dd>
		<dt><%= CaptureImage.human_attribute_name(:comments) %>:</dt><dd><%= show_value(@capture_image.comments)%></dd>
		<dt><%= CaptureImage.human_attribute_name(:remote) %>:</dt><dd><%= show_value(@capture_image.remote)%></dd>
	</dl>

</div>

