<dt><%= t(:lat)%>:</dt><dd id='lat_value'><%= show_value(coord_obj.lat_formatted_DMS).html_safe %></dd>
<dt><%= t(:long)%>:</dt><dd id='long_value'><%= show_value(coord_obj.long_formatted_DMS).html_safe %></dd>
<dt><%= t(:elevation)%>:</dt><dd id='elevation_value'><%= show_value(coord_obj.elevation.to_s,'m') %></dd>

