<%= render 'show_view_header' %>
<div class='data-pane-body'>
  <dl class='dl-horizontal'>
    <dt><%= Surveyor.human_attribute_name(:given_names) %>:</dt><dd>  <%= show_value @surveyor.given_names  %></dd>
   <dt><%= Surveyor.human_attribute_name(:last_name) %>:</dt><dd>  <%= show_value @surveyor.last_name  %></dd>
   <dt><%= Surveyor.human_attribute_name(:short_name) %>:</dt><dd>  <%= show_value @surveyor.short_name  %></dd>
   <dt><%= Surveyor.human_attribute_name(:affiliation) %>:</dt><dd>  <%= show_value @surveyor.affiliation  %></dd>
 </dl>
</div>
