<%
content_for "#{tab_name}_title" do
  "Captures"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-camera tabs_icon pull-left' title='Captures'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "location_captures_tab_#{location.id}"
end
content_for "#{tab_name}_pane" do
  render 'captures/captures_grid', captures: location.captures.includes(:capture_images)
end
%>
