//*= require_tree .
//*= require_self
//*= require meat_base/jquery.classycompare

//makes dt tags word wrap instead of truncate
.dl-horizontal dt {
  width: 190px;
  text-align: left;
}
.dl-horizontal dd {
  margin-left: 210px;
}

#preview_image {
margin-bottom: 10px;
margin-top: 10px;
margin-left: 0px;
text-align: center;
}

#preview_image img {
  max-height: 75vh;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

#next_link, #prev_link {
  font-size: 60px;
}

#next_link:hover, #prev_link:hover {
  text-decoration : none;
}
#next_link {
  float: right;
}
#next_container {
  margin-left: 0px;
}




//used for transitions when span is changed
.row-fluid div[class*='span']  {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.relative_wrapper {
  position: relative;
}

.comparison_buttons div {
  display: inline;
  padding: 0px 3px;
}

.comparison_buttons {
  padding-bottom: 8px;
}

.overlay_button {
  padding-bottom: 8px;
}

.comparison_before_after {
  margin: 15px 0px;
  position: relative;
  .uc-mask {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.breadcrumb_icon {
  padding: 0px 3px 3px 3px;
}

.tabs_icon {
  padding-right: 3px;
}

#toggle_nav_menu {
  margin-right: -18px;
}
$thumbnail_square_size: 100;
.thumbnail_img_container {
  height: $thumbnail_square_size+px;
  width: $thumbnail_square_size+px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  img.thumbnail_img {
    max-width: none;
  }
}
.thumbnail_caption_container {
  font-size: 0.9em;
  word-wrap: break-word;
  width: $thumbnail_square_size+px;
}

li.thumbnail_container {
  width: $thumbnail_square_size+px;
  height: (20+$thumbnail_square_size)+px;
  margin-left: 10px
}

li.thumbnail_comparison_container {
  width: ($thumbnail_square_size*2+20)+px;
  height: (20+$thumbnail_square_size)+px;
  margin-left: 20px
}

.comparisons_well {
  border: 1px solid #D1D1D1;
  border-radius: 6px;
  padding: 7px;
  background-color: rgb(250, 250, 250);
  h5 {
    margin: 0px 0px 5px 0px;
  }
  .comparison_buttons {
    margin-top: -10px;
  }
}

