#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.gmaps4rails_map {
  width: 100% ;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}
.map_filter_container {
  padding: 6px 6px;
}
select.map_filter {
  width: 28%;
  margin-bottom: 5px;
  margin-top: 5px;
}