
body.nav_and_data_pane {
  overflow-y: hidden;
}

#nav-pane #tree_body, #nav-pane #search-results {
overflow-y: scroll;
padding: 5px 10px;
}

#data-pane .data-pane-body {
overflow-y: scroll;
padding: 5px 10px;
}

#pane_container > .container-fluid{
padding-left: 5px;
padding-right: 5px;
}

.navbar-inner a.brand {
padding-left: 10px;
margin-left: 0px;
}

#data-pane .navbar, #nav-pane .navbar {
  margin-bottom: 5px;
}
