<%= render 'show_view_header' %>
<dl class='dl-horizontal'>
    <dt><%= Project.human_attribute_name(:name) %>:</dt><dd>  <%= show_value @project.name  %></dd>
    <dt><%= Project.human_attribute_name(:description) %>:</dt><dd>  <%= show_value @project.description  %></dd>
</dl>

