<%= render 'show_view_header' %>
<div class='data-pane-body'>
    <%= breadcrumb_div(@survey, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<dl class='dl-horizontal'>
		<dt><%= Survey.human_attribute_name(:name) %>:</dt><dd>  <%= show_value @survey.name  %></dd>
		<dt><%= Survey.human_attribute_name(:historical_map_sheet) %>:</dt><dd>  <%= show_value @survey.historical_map_sheet  %></dd>
	</dl>
</div>

