<% if @visits.present?
  content_for "#{tab_name}_title" do
    visit.date.to_s(:long)
  end
  content_for "#{tab_name}_icon" do
    "<span class='icomoon-calendar tabs_icon pull-left' title='Visit Date'></span>".html_safe
  end
  content_for "#{tab_name}_id" do
    "visit_tab_#{visit.id}"
  end
  content_for "#{tab_name}_pane" do
    render 'visits/content', visit: visit
  end
end
%>
