<%= render 'show_view_header' %>
<div class='data-pane-body'>
	<%= breadcrumb_div(@location, separator:  "<span class='icomoon-chevron-right'></span>", with_self: true).html_safe %>
	<dl class='dl-horizontal'>
		<dt><%= Location.human_attribute_name(:location_identity) %>:</dt><dd>  <%= @location.location_identity  %></dd>
		<dt><%= Location.human_attribute_name(:location_narrative) %>:</dt><dd>  <%= @location.location_narrative  %></dd>
		<%= render 'shared/lat_long_show', coord_obj: @location %>
	</dl>
	<%= tabs('locations/tabs', location: @location, tag_classes: { nav_tabs: "nav-tabs-styled1", tab_content: "tab-content-styled1"}) %>
</div>
