<%= content_for :map_scripts do %>
    <script src="//maps.google.com/maps/api/js?v=3&key="></script> 
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= javascript_include_tag 'meat_base/mlp_map' %>
<% end %>
    <div class='pane_info'>
    </div>
    <div class='map_filter_container'>
        <select id='surveyor_select' class='map_filter'>
        </select>
        <select id='survey_select' class='map_filter'>
        </select>
        <select id='year_select' class='map_filter'>
        </select>
        <a href='' id='reset_select' >Reset</a>
    </div>
    <div class='map_container'>
      <div id="map" class='gmaps4rails_map'></div>
    </div>

